@model cst350groupapp.Models.RegisterViewModel

<div>
    <h4>Login Success</h4>
    <p>Your account has been successfully created. Please log in to continue.</p>
    <hr />
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
