@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Congratulations!</h1>
<p>You have won the game!</p>
<a asp-action="StartOver">Play Again</a>

