@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h1>Game</h1>
<h4>This is a general page for the game page that can only be accessed by logged in users!</h4>
<br />
<p>Restricting access to this page has not been added yet.</p>
<br />
<p>TODO: Restrict access to this page and only allow logged in users to access. If not logged in, show RESTRICTED ACCESS message.</p>
